$clr-bg: hsl(0, 0%, 94%);
$clr-white: hsl(0, 0%, 100%);
$clr-border: hsl(0, 0%, 83%);
$clr-primary: hsl(174, 78%, 41%);

$clr-primary-hover: hsl(174, 74%, 45%);

$clr-font-black: hsl(0, 4%, 9%);
$clr-font-primary: hsl(170, 64%, 27%);
$clr-font-secondary: hsl(0, 0%, 45%);

$clr-hpbar-primary: #89bb85;
$clr-hpbar-secondary: #19a795;
$clr-divisor: hsla(0, 0%, 67%, 0.506);

$clr-rank-1: #f34444;
$clr-rank-2: #ff7f0f;
$clr-rank-3: #ffdd57;
$clr-rank-4: #a0e515;
$clr-rank-5: #23cd5e;
$clr-rank-6: #00c2b8;

// 1 - 30 rank 1
// 31 - 60 rank 2
// 61 - 90 rank 3
// 91 - 120 rank 4
// 121 - 150 rank 5
// 151 - 200 rank 6
